.root{
    -fx-background-color: white;

}


.table-view {
    -fx-background-color: linear-gradient(to bottom, rgba(24, 155, 183, 0.27), rgba(109, 190, 136, 0.27));
    -fx-font-family: Consolas;

}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


.button{
    fx-cursor: hand;
    -fx-background-color: white;
    -fx-text-fill: #000;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-radius: 10;
}

.button:hover{
    -fx-background-color: black;
    -fx-text-fill: #fff;
}